.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
.nav {
    height: calc(var(--header-height) + 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.nav__logo {
    transition: .3s;
    cursor: pointer;
}
.nav__logo:hover{
    transform: scale(1.1);
}
.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__list {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    cursor: pointer;
}
.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

.active-link,
.nav__link:hover {
    color: var(--title-color-dark);
}
.nav__btns {
    display: flex;
    align-items: center;
}
.change__theme {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
    width: fit-content;
    margin-left: 1rem;
}
.change__theme:hover {
    color: var(--title-color-dark);
}
.change__theme__mobile {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    width: fit-content;
    margin-left: 70%;
}
.change__theme__mobile:hover {
    color: var(--title-color-dark);
}
@media screen and (max-width: 600px) {
    .change__theme__mobile {
        margin-left: 65%;
    }
}
@media screen and (max-width: 500px) {
    .change__theme__mobile {
        margin-left: 60%;
    }
}
@media screen and (max-width: 450px) {
    .change__theme__mobile {
        margin-left: 55%;
    }
}
@media screen and (max-width: 400px) {
    .change__theme__mobile {
        margin-left: 50%;
    }
}
@media screen and (max-width: 350px) {
    .change__theme__mobile {
        margin-left: 45%;
    }
}
@media screen and (max-width: 320px) {
    .change__theme__mobile {
        margin-left: 40%;
    }
}
@media screen and (max-width: 300px) {
    .change__theme__mobile {
        margin-left: 35%;
    }
}
@media screen and (max-width: 275px) {
    .change__theme__mobile {
        margin-left: 30%;
    }
}
@media screen and (max-width: 250px) {
    .change__theme__mobile {
        margin-left: 25%;
    }
}
@media screen and (max-width: 240px) {
    .change__theme__mobile {
        margin-left: 20%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }    
    .nav {
        height: var(--header-height);
    }
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    /*Show Menu*/
    .show-menu {
        bottom: 0;
    }
    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
     }
     .nav__icon {
        font-size: 1.2rem;
     }
     .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
     }
     .nav__close:hover {
        color: var(--title-color-dark);
     }
     .nav__toggle {
        font-size: 1.1rem;
        cursor: pointer;
     }
    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }    
    .nav__list {
        column-gap: 0;
    }
}