/*SCROLL*/
.scroll-downs {
    display: flex;
    width: max-content;
    align-self: flex-start;
    margin-top: 7vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  .mousey {
    width: 3px;
    padding: 7px 11px;
    height: 27px;
    border: 2px solid var(--title-color-dark);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    margin-right: 1rem;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--title-color-dark);
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
  .arrow {
    margin-left: .25rem;
    font-size: 1.25rem;
  }