@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== CSS VARS ====================*/
:root {
  --header-height: 3rem;

  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
  --background-color: hsl(var(--hue), var(--sat), 10%);
  --border-color: rgba(0,0,0,0.1);
  --border-top-color: rgba(0,0,0,0.2);
  --skill-text-shadow: 2px 2px 9px rgba(0,0,0,0.3);
  --skill-drop-shadow: 3px 5px 5px #bbbb;
  --tilt-border: 1px solid rgba(0,0,0,0.1);
  --tilt-boxshadow : 0px 10px 16px 0px rgba(201, 201, 201, 0.1);
  --tilt-glare: #bbbb;
  --project-boxshadow: 0px 10px 16px 0px rgba(0,0,0,0.1);
  --project-hover-boxshadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
  --project-description-textshadow: 2px 2px 5px rgba(0,0,0,0.2);
  --contact-border: 2px solid rgba(0,0,0,1);
  --contact-color: #000;
  --contact-text-color: rgba(0, 0, 0, 1);
  --textfield-border-color:rgba(0, 0, 0, .2);
  --hover-textfield: rgba(0, 0, 0, 1);
  --label-color: rgba(0, 0, 0, .7);

  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --tiny-font-size: .625rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 992px) {
  :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.75rem;
      --h2-font-size: 1.35rem;
      --h3-font-size: 1.1rem;
      --normal-font-size: 1.05rem;
      --small-font-size: 0.95rem;
      --smaller-font-size: .85rem;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.915rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }  
}

body.dark-theme {
  --hue: 0;
  --sat: 0%;
  --title-color: rgba(255,255,255,0.8);
  --title-color-dark: rgba(255,255,255,1);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: #111111;
  --container-color: #111111;
  --background-color: hsl(var(--hue), var(--sat), 10%);
  background-color: #111111;
  --border-color: rgba(255,255,255,.04);
  --border-top-color: rgba(255,255,255,0.1);
  --skill-text-shadow: 2px 2px 9px rgba(0,0,0,1);
  --skill-drop-shadow: 3px 5px 5px rgba(0,0,0,0.9);
  --tilt-border: 1px solid rgba(255,255,255,0.02);
  --tilt-boxshadow : 0px 10px 16px 0px rgba(0,0,0,0.2);
  --tilt-glare: #4444;
  --project-boxshadow: 3px 3px 15px 0px rgba(0,0,0,0.1);
  --project-hover-boxshadow: 6px 6px 15px 0px rgba(0,0,0,0.2);
  --project-description-textshadow: 2px 2px 5px rgba(0,0,0,0.8);
  --contact-border: 2px solid rgba(255,255,255,1);
  --contact-color: #fff;
  --contact-text-color: rgba(255, 255, 255, 1);
  --textfield-border-color:rgba(255, 255, 255, .3);
  --hover-textfield: rgba(255, 255, 255, 1);
  --label-color: rgba(255, 255, 255, .7);
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
/* background-color: var(--background-color); */
}

html {
scroll-behavior: smooth !important;
}

body,button,input,textarea {
font-family: var(--body-font);
font-size: var(--normal-font-size);
}
body {
background-color: var(--body-color);
color: var(--text-color);
}

h1, h2, h3 {
color: var(--title-color);
font-weight: var(--font-semi-bold);
}

ul {
list-style: none;
}

a {
text-decoration: none;
}

img {
max-width: 100%;
height: auto;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}
.cursor {
  position: absolute;
  pointer-events: none;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 10;
}
@media only screen and (max-width: 800px) {
  .cursor {
    display: none;
  }
}

.section {
height: 100vh;
padding: 11rem 0 2rem;
border: 1px solid magenta;
}

.section__title {
font-size: var(--h1-font-size);
color: var(--title-color);
}

.section__subtitle {
display: block;
font-size: var(--small-font-size);
margin-bottom: 4rem;
}

.section__title, 
.section__subtitle {
text-align: center;
}
.container {
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: .9rem 1.3rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button__flex {
display: inline-flex;
align-items: center;
}

.grid {
/* display: grid;
gap: 1.5rem; */
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--title-color) !important;
  transition: .2s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--title-color-dark) !important;
  transition: .2s;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }  
}
@media screen and (max-width: 950px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }  
  .section {
    padding: 7rem 0 2rem;
    }
}
@media screen and (max-width: 768px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .section {
    padding: 6rem 0 2rem;
    border: 1px solid red;
    }
}
@media screen and (max-width: 576px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }  
}
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }  
}
/* =============CUSTOM SCROLLBAR================ */

::-webkit-scrollbar {
  width: 10px;
  background: var(--textfield-border-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--background-color);
}