.skill-text {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 5rem;
  align-items: center;
  margin: 0% 4%;
  justify-content: center;
  color: var(--title-color);
  font-size: .9rem;
  transition: 0.25s;
  text-shadow: var(--skill-text-shadow);
}
  
.skill-img {
  width: 3rem;
  transition: 0.25s;
  filter: drop-shadow(var(--skill-drop-shadow));
}
.skill-text:hover {
    color: var(--title-color-dark);
}
  
.skill-text:hover .skill-img{
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    .skill-text {
        margin: 2.5%;
        font-size: .8rem;
    }
}
@media screen and (max-width: 350px) {
  .skill-text {
    width: 4rem;
  }
}
@media screen and (max-width: 300px) {
  .skill-text {
    width: 3rem;
  }
}